{
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": ["airbnb", "prettier"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": "webpack",
    "react": {
      "version": "16.7"
    }
  },
  "rules": {
    "import/no-named-as-default": "off",
    "import/no-named-as-default-member": "off",
    "react/jsx-filename-extension": "off"
  }
}
